<!doctype html>
<html lang="en">
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/static/css/registration_styles.css">
</head>
<form method='post'>
    {% csrf_token %}
    <div class="container">
        <h1>Register</h1>
        {{ user_form.as_p }}

        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
        <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="container signin">
        <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
</form>